<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Prof-E</title>

    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/grid.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style_success.css') }}" />

  </head>
  <body>
    <!-- Menu -->
    <section class="menu">
      <div class="container">
        <nav class="text-right">
          <a target="_blank" href="https://prof-e.net.br/">www.prof-e.com.br</a>
        </nav>
      </div>
    </section>
    <!-- Menu end -->

    <!-- Logo -->
    <section class="logo">
      <div class="container text-center">
        <a target="_blank" href="https://prof-e.net.br/"><img src="{{url_for('static', filename='img/logo.png')}}" alt="Prof-E" /></a>
      </div>
    </section>
    <!-- Logo end -->

    <!-- Apresentação -->
    <section class="apresentacao">
      <div class="container">
        <div class="grid-16 text-center">
          <h2>Seus dados foram registrados com sucesso!</h2>
          <h3>Para efetivar sua inscrição clique no botão para realizar o pagamento.</h3>
          <a class="btn-pagamento" href="{{link}}">Realizar Pagamento</a>
        </div>
      </div>
    </section>
    <!-- Apresentação end -->


    <!-- Footer -->
    <section class="footer">
      <div class="container text-center">
        <h2><a target="_blank" href="https://prof-e.net.br/"> Acesse nosso site: www.prof-e.net.br</a></h2>
      </div>
    </section>
    <!-- Footer End -->
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.slim.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
    <script type="text/javascript" src="j{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/script.js') }}"></script>
  </body>
</html>
